@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

:root{
    --base-font: Montserrat;

    --background-color-1: #fff ;
    --background-color-2: #ddd;
    --background-header: var(--background-color-1);

    --color-1: #24292d;
    --color-2: #2B3137;
    --color-3: #2fbb4f;

    --hover-color-1: #2fbb4f;

    --gradient-color-1: #2fbb4f;
    --gradient-color-2: #0d74e7;

    --gradient-hover-color-1: #0d74e7;
    --gradient-hover-color-2: #2fbb4f;

    --error-color: #D80032;

    --light-color: rgba(1, 195, 141, 0.25);

    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-blur: 15px;

    --base-border-radius: 15px;

    --base-transition: all 0.2s ease-in;
}