{% extends "base.html" %}

{% load static %}

{% block head  %}
<link type="text/css" rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}


{% block content  %}

<main>
    <section class="search-section horizontal-container">

        <div class="search-section-items">
            <button id="filter-button" class="button-lite">Фильтр по категории</button>
            <div id="category-menu" class="category-menu hidden">
                <div id="category-menu-ul" class="category-menu-ul">

                    {% for category in categories %}

                    <button class="category-menu-item" style="text-transform: capitalize">{{ category }}</button>

                    {% endfor %}

                </div>
            </div>
        </div>

        <span class="cut">|</span>
        <button class="search-section-items button-lite active">Сначала новые</button>
        <button class="search-section-items button-lite">Сначала наступающие</button>
        <span class="cut">|</span>

        <div class="search search-section-items">
            <input type="text" id="search-input" placeholder="Поиск...">
        </div>

    </section>
    <br><hr><br>
    <section class="events-section horizontal-container">

        {% for event in events %}

        <a style="text-decoration: none" href="/event/{{ event.this.id }}" class="event container">
            <div class="image-div">
                <img src="{{ event.this.image.url }}">
            </div>

            <h1>{{ event.this.title }}</h1>
            <p style="text-transform: uppercase; font-weight: 600">{{ event.category }}</p>
            <p>{{ event.period }}</p>
            <h1 class="price">
                {% if event.this.price|default:0 > 0 %}
                {{ event.this.price }} руб.
                {% else %}
                Посещение свободное
                {% endif %}
            </h1>
        </a>


        {% endfor %}

    </section>
</main>

<script type="text/javascript" src="{% static 'js/events.js' %}"></script>

{% endblock %}


