{% extends "base.html" %}

{% load static %}

{% block head  %}
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content  %}

<main>
    <div class="title">
        <span class="text-logo-part-1"></span><span class="text-logo-part-2">Welcome</span>
    </div>

    <div class="about-us" id="about-us">
        <script>get_text("{% static 'textes/home_about_us.html' %}", "about-us")</script>
    </div>

    <br>

    {% if user.is_authenticated %}
    <button class="start-button gradient-button" type="submit"><a href="events/">Начать</a></button>
    {% else %}
    <button class="start-button gradient-button" type="submit"><a href="register/">Начать</a></button>
    {% endif %}

    <div class="earth-image-div">
        <img class="earth-image" src="{% static 'images/earth.png' %}" alt="">
    </div>

    <div class="container substrate">
        <br>
        <h1>Особенности</h1>
        <br><br><br>
        <div class="blocks horizontal-container">
            <div class="block container">
                <h1>Создание и редактирование мероприятий</h1>
                <img class="icon" src="{% static 'images/add-icon.svg' %}" alt="">
                <p>На платформе сервиса для размещения мероприятий организаторы могут создавать страницы для своих событий, включая описания, изображения, даты, местоположение и цены.</p>
            </div>
            <div class="block container">
                <h1>Регистрация и продажа билетов</h1>
                <img class="icon" src="{% static 'images/add-icon.svg' %}" alt="">
                <p>Сервис позволяет организаторам продавать билеты онлайн, а участникам - легко зарегистрироваться и оплатить участие через интернет.</p>
            </div>
            <div class="block container">
                <h1>Продвижение ваших мероприятий</h1>
                <img class="icon" src="{% static 'images/add-icon.svg' %}" alt="">
                <p>Платформа предоставляет инструменты для продвижения мероприятий через социальные сети, рассылки, рекламу и другие маркетинговые каналы.</p>
            </div>
        </div>
    </div>

    <div></div>
</main>

{% endblock %}


